footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom:0;
    border-top:solid 1px#CCCCCC;
}
footer p{
    text-align: center;
    transform: translateY(25%);
}